@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-sans;
}

html, body {
    @apply h-full m-0;
    background: linear-gradient(grey 0%, darkgrey 20%) no-repeat, darkgrey;
}

canvas {
    @apply outline-black max-w-[800px] max-h-[800px];
}

.main {
    @apply flex flex-col p-2.5;
}

.button {
    @apply p-2.5 m-1 bg-gray-300 outline-black text-center rounded shadow transition-colors cursor-pointer;
}

.button:hover {
    @apply bg-gray-400;
}


@layer base {
    ul, ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    a {
        text-decoration: revert;
    }
}