@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    @apply outline-black max-w-[800px] max-h-[800px];
}

.button {
    @apply p-2.5 m-1 bg-gray-300 outline-black text-center rounded shadow transition-colors cursor-pointer;
}

.button:hover {
    @apply bg-gray-400;
}

::backdrop {
    @apply bg-gray-900/20;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    @apply w-3;
}

::-webkit-scrollbar-track {
    @apply bg-black/5 rounded;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded shadow;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}

@layer base {
    ul, ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    a {
        text-decoration: revert;
    }
}